@charset"UTF-8";
#トリコロージュ {padding-top:11rem; 
 padding-bottom:999rem;
}
#バグ {padding-top:11rem; 
 padding-bottom:999rem;
}
#Iなんです {padding-top:11rem; 
 padding-bottom:999rem;
}
#ロウワー {padding-top:11rem; 
 padding-bottom:999rem;
}
