@charset"UTF-8";
#\0030c8\0030ea\0030b3\0030ed\0030fc\0030b8\0030e5 {
 padding-bottom: 999rem;
}
#\0030d0\0030b0 {
 padding-bottom: 999rem;
}
#I\00306a\003093\003067\003059 {
 padding-bottom: 999rem;
}
#\0030ed\0030a6\0030ef\0030fc {
 padding-bottom: 999rem;
}
#\30ab\30ca\30c7\30c8\30e2\30b9\30bd\30e9 {
 padding-bottom:999rem;
}
a img{
 background-color: #bb6688;
 margin-left: 1rem;
}
.I\00306a\003093\003067\003059 {
 padding-bottom: 5rem;
}
.contact{
 margin-top: 10rem;
}
.jdmgwx{
 padding-left: 0.5rem;
}
