@charset"UTF-8";
body {
	padding-top: 11rem;
	background-color: #884499;
	color: rgba(255,255,255,255);
}
header {
	text-align: left;
	background-color: #bb6688;
	color: rgba(150,210,210,255);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
h1 {
	line-height: 2;
}
.K {
	background-color: #bb6688;
}
.\0096ea {
	background-color: #8888cc;
}
.\003048\00306a\00306a\003093 {
	background-color: #ccbb88;
}
.Amia {
	background-color: #ddaacc;
}
